* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0 0 0;
    /* font-family: ; */
    font-size:1rem;
    background-color: rebeccapurple;
    color: paleturquoise;

  }
  
  h1, h2, h3, h4 {
    
    font-weight: 400;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  